
<div class="container">
  <h1 class="text-center">Flat index</h1>

  <body class="">
      <ul >
        <div class="d-flex flex-row justify-content-center text-center">
          <% @flats.each do |flat| %>
            <div class="card p-2 m-3 border-0 rounded shadow-sm" style="width: 40%;" >
              <h4 class="card-title p-2"><%= flat.title %></h4>
              <p class="card-text"><%= flat.description %></p>
              <p>Address: <%= flat.street %> in <%= flat.city %></p>
              <p>Price/Night: <%= flat.price_per_night %>€</p>
              <%= link_to "Show", flat_path(flat), class: "btn btn-red btn-m text-decoration-none" %>
          </div>
          <% end %>
        </div>
      </ul>
  </body>
</div>
