<h2> Edit your Bookings </h2>
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :status, collection: [ "accepted", "denied" ] %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit %>

      <% end %>
